.faq {
  padding-top: 56px;
  padding-bottom: 42px;
  text-align: center;

  @media (max-width: 1023px) {
    padding-top: 39px;
    padding-bottom: 20px;
  }
}

.faq h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: var(--font-secondary);
  font-size: 34px;
  letter-spacing: 0.03em;

  @media (max-width: 767px) {
    margin-bottom: 34px;
  }
}

.faq h3 {
  margin: 0;
  max-width: 90%;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  transition: color 0.2s;
  pointer-events: none;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.faq br {
  @media (min-width: 768px) {
    display: none;
  }
}

.faq ul {
  @include reset-list;
  max-width: 970px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid var(--c-accent);
}

.faq li {
  padding-right: 50px;
  padding-bottom: 43px;
  padding-left: 43px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--c-accent);
  }

  @media (max-width: 1023px) {
    padding-left: 50px;
  }

  @media (max-width: 767px) {
    padding-right: 25px;
    padding-bottom: 23px;
    padding-left: 24px;
  }
}

.faq__question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;

  &:hover,
  &:focus-within {
    color: var(--c-accent);
  }

  @media (max-width: 767px) {
    padding-top: 16px;
    align-items: start;
  }
}

.faq__question button {
  .no-js & {
    display: none;
  }

  width: 15px;
  height: 8px;
  margin-top: -7px;
  border: 0;
  padding: 0;
  background: transparent;
  order: 2;

  &:hover,
  &:focus {
    outline: none;
  }

  @media (max-width: 1023px) {
    width: 23px;
    height: 12px;
    margin-top: 0;
  }

  @media (max-width: 767px) {
    width: 20px;
    height: 10px;
    margin-top: 4px;
  }
}

.faq__question svg {
  transition: transform 0.2s;

  @media (max-width: 1023px) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: 767px) {
    width: 20px;
    height: 10px;
  }
}

.faq__answer {
  max-width: 527px;
  margin-left: 6px;
  height: 0;
  overflow: hidden;

  .accordeon__item--open &,
  .no-js & {
    height: auto;
  }

  @media (max-width: 1023px) {
    margin-left: 0;
  }
}

.faq__answer p {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 130%;

  @media (max-width: 1023px) {
    margin-top: 26px;
  }

  @media (max-width: 767px) {
    max-width: 93%;
    margin-top: 16px;
    font-size: 14px;
    line-height: 140%;
  }
}
