.login {
  &--popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: auto;
    background-color: var(--c-overlay);
  }

  &--align {
    display: initial;
  }
}

.login__wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding-top: 138px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 40px;
  background-image: image-set(url("../img/login/login-bg-desktop@2x.jpg") 2x, url("../img/login/login-bg-desktop@1x.jpg") 1x);
  /* stylelint-disable-next-line */
  background-image: image-set(url("../img/login/login-bg-desktop@2x.webp") 2x, url("../img/login/login-bg-desktop@1x.webp") 1x);
  background-color: var(--bg-login);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  .no-webp & {
    background-image: image-set(url("../img/login/login-bg-desktop@2x.jpg") 2x, url("../img/login/login-bg-desktop@1x.jpg") 1x);
  }

  .webp & {
    background-image: image-set(url("../img/login/login-bg-desktop@2x.webp") 2x, url("../img/login/login-bg-desktop@1x.webp") 1x);
  }

  @media (max-width: 1023px) {
    max-width: 442px;
    padding-left: 51px;
    padding-right: 51px;
    background-image: image-set(url("../img/login/login-bg-tablet@2x.jpg") 2x, url("../img/login/login-bg-tablet@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/login/login-bg-tablet@2x.webp") 2x, url("../img/login/login-bg-tablet@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/login/login-bg-tablet@2x.jpg") 2x, url("../img/login/login-bg-tablet@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/login/login-bg-tablet@2x.webp") 2x, url("../img/login/login-bg-tablet@1x.webp") 1x);
    }
  }

  @media (max-width: 767px) {
    max-width: 270px;
    margin: 0 auto;
    padding-top: 84px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-image: image-set(url("../img/login/login-bg-mobile@2x.jpg") 2x, url("../img/login/login-bg-mobile@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/login/login-bg-mobile@2x.webp") 2x, url("../img/login/login-bg-mobile@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/login/login-bg-mobile@2x.jpg") 2x, url("../img/login/login-bg-mobile@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/login/login-bg-mobile@2x.webp") 2x, url("../img/login/login-bg-mobile@1x.webp") 1x);
    }
  }
}

.login h2 {
  margin-top: 51px;
  margin-bottom: 34px;
  font-family: var(--font-secondary);
  font-size: 34px;
  text-align: center;

  @media (max-width: 767px) {
    margin-top: 38px;
    margin-bottom: 27px;
    font-size: 24px;
  }
}

.login__form {
  position: relative;
  display: grid;
}

.login__form input {
  width: 100%;
  padding: 0;
  padding-bottom: 8px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 500;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  border-radius: 0;

  &:not(:last-of-type) {
    margin-bottom: 34px;

    @media (max-width: 767px) {
      margin-bottom: 29px;
    }
  }

  &::placeholder {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 500;
    color: var(--c-placeholder);
  }
}

.login__forgot {
  margin-top: 4px;
  margin-right: 1px;
  font-size: 12px;
  color: var(--c-placeholder);
  justify-self: end;
}

.login__form [type="submit"] {
  margin-top: 45px;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--c-accent);
  color: var(--c-submit);
  background-color: var(--c-accent);

  &:hover,
  &:focus {
    box-shadow: inset 0 0 5px 2px currentColor;
  }

  @media (max-width: 767px) {
    margin-top: 35px;
  }
}

.login__form p {
  justify-self: center;
  font-size: 14px;
  color: var(--c-placeholder);
}

.login__signup {
  margin-left: 8px;
  color: var(--c-text);
}

.login__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.login__close svg {
  pointer-events: none;
}
