.new-products {
  padding-top: 122px;
  padding-bottom: 65px;
  text-align: center;

  @media (max-width: 1023px) {
    padding-top: 72px;
    padding-bottom: 32px;
  }

  @media (max-width: 767px) {
    padding-top: 62px;
    padding-bottom: 28px;
  }
}

.new-products h2 {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 34px;

  .no-js & {
    // margin-bottom: 11px;
  }


  @media (max-width: 1023px) {
    // margin-bottom: 19px;
  }

  @media (max-width: 767px) {
    margin-bottom: 11px;
  }
}
