.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__a11y-hidden {
  position: fixed;
  transform: scale(0);
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: var(--c-text);
  font-family: var(--font-main);
  font-size: var(--font-size);
  font-weight: 500;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1365px) {
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}
