.promo {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--promo-overlay);
  }
}

.promo--main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 463px;
  background-image: image-set(url("../img/main/promo/promo-main-bg-desktop@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-desktop@1x.jpg") 1x);
  /* stylelint-disable-next-line */
  background-image: image-set(url("../img/main/promo/promo-main-bg-desktop@2x.webp") 2x, url("../img/main/promo/promo-main-bg-desktop@1x.webp") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .no-webp & {
    background-image: image-set(url("../img/main/promo/promo-main-bg-desktop@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-desktop@1x.jpg") 1x);
  }

  .webp & {
    background-image: image-set(url("../img/main/promo/promo-main-bg-desktop@2x.webp") 2x, url("../img/main/promo/promo-main-bg-desktop@1x.webp") 1x);
  }

  @media (max-width: 1023px) {
    background-image: image-set(url("../img/main/promo/promo-main-bg-tablet@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-tablet@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/main/promo/promo-main-bg-tablet@2x.webp") 2x, url("../img/main/promo/promo-main-bg-tablet@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/main/promo/promo-main-bg-tablet@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-tablet@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/main/promo/promo-main-bg-tablet@2x.webp") 2x, url("../img/main/promo/promo-main-bg-tablet@1x.webp") 1x);
    }
  }

  @media (max-width: 767px) {
    background-image: image-set(url("../img/main/promo/promo-main-bg-mobile@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-mobile@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/main/promo/promo-main-bg-mobile@2x.webp") 2x, url("../img/main/promo/promo-main-bg-mobile@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/main/promo/promo-main-bg-mobile@2x.jpg") 2x, url("../img/main/promo/promo-main-bg-mobile@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/main/promo/promo-main-bg-mobile@2x.webp") 2x, url("../img/main/promo/promo-main-bg-mobile@1x.webp") 1x);
    }
  }
}

.promo--catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 261px;
  background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-desktop@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-desktop@1x.jpg") 1x);
  /* stylelint-disable-next-line */
  background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-desktop@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-desktop@1x.webp") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .no-webp & {
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-desktop@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-desktopp@1x.jpg") 1x);
  }

  .webp & {
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-desktop@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-desktop@1x.webp") 1x);
  }

  @media (max-width: 1023px) {
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-tablet@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-tablet@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-tablet@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-tablet@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-tablet@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-tablet@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-tablet@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-tablet@1x.webp") 1x);
    }
  }

  @media (max-width: 767px) {
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-mobile@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-mobile@1x.jpg") 1x);
    /* stylelint-disable-next-line */
    background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-mobile@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-mobile@1x.webp") 1x);

    .no-webp & {
      background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-mobile@2x.jpg") 2x, url("../img/catalog/promo/promo-catalog-bg-mobile@1x.jpg") 1x);
    }

    .webp & {
      background-image: image-set(url("../img/catalog/promo/promo-catalog-bg-mobile@2x.webp") 2x, url("../img/catalog/promo/promo-catalog-bg-mobile@1x.webp") 1x);
    }
  }
}

.promo h1 {
  position: relative;
  margin-top: 53px;
  font-family: var(--font-secondary);
  font-size: 45px;
  letter-spacing: 0.03em;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: var(--c-text-promo);
  z-index: 1;

  @media (max-width: 767px) {
    margin-top: 46px;
    font-size: 38px;
  }
}

.promo--catalog h1 {
  margin-top: 33px;
  font-size: 34px;
  letter-spacing: normal;

  @media (max-width: 767px) {
    margin-top: 17px;
    font-size: 34px;
  }
}

.promo h1 span {
  position: relative;
  top: -12px;
  display: block;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;

  @media (max-width: 767px) {
    font-size: 34px;
  }
}

.promo--catalog h1 span {
  top: -5px;
  font-size: 22px;

  @media (max-width: 767px) {
    top: 3px;
    line-height: 120%;
  }
}
