.slider__arrows {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 11px;
  padding: 0;
  border: 0;
  background-color: transparent;

  &--next {
    transform: rotateZ(180deg);
  }

  .no-js & {
    visibility: hidden;
  }
}

.slider__link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;

  @media (max-width: 1023px) {
    margin-top: 6px;
  }

  @media (max-width: 767px) {
    margin-top: 7px;
  }
}

.slider__content {
  margin-top: 54px;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: 1023px) {
    margin-top: 50px;
  }

  @media (max-width: 767px) {
    margin-top: 39px;
  }
}

.slider__list {
  @include reset-list;

  .no-js & {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    :nth-child(n + 5) {
      display: none;
    }

    @media (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;

      :nth-child(n + 3) {
        display: none;
      }
    }
  }
}

.slider__list li {
  height: 100%;
  margin: 0 15px;
}

.slider__item {
  display: grid;
  justify-items: center;
  row-gap: 20px;

  &:hover,
  &:focus-within {
    a {
      color: var(--c-accent);
      outline: none;
    }
  }

  @media (max-width: 1023px) {
    .no-js & {
      width: 100%;
      margin: 0;
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    row-gap: 15px;
  }
}

.slider__item a {
  order: 2;
  display: grid;
  text-align: center;
  row-gap: 7px;
  line-height: 130%;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.slider__item span {
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
}

.slider__image {
  height: 100%;
  width: 100%;
  max-width: 270px;
  max-height: 284px;

  @media (max-width: 1023px) {
    max-width: 324px;
    max-height: 340px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.slider__image img {
  width: 100%;
  height: 100%;

  @media (max-width: 1023px) {
    max-width: 324px;
    max-height: 340px;
  }

  @media (max-width: 767px) {
    min-width: 130px;
    min-height: 136px;
  }
}

.slider__pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

  .no-js & {
    margin-bottom: 24px;
  }

  @media (max-width: 1023px) {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    margin-top: 29px;
  }
}

.slider__pagination {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -6px;
  max-width: 100%;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.slider__pagination li {
  margin: 0 6px;

  @media (max-width: 767px) {
    display: none;
  }
}

.slider__pagination button {
  padding: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  color: var(--c-placeholder);
  background-color: transparent;
}

.slider__pagination .slick-active button {
  color: inherit;
}
