.user-links {
  @include reset-list;
  display: grid;
  column-gap: 35px;
  grid-template-columns: repeat(2, max-content);
  justify-items: end;
}

.user-links a {
  font-size: 14px;
}

.user-links__login {
  @media (max-width: 1023px) {
    display: none;
  }
}

.user-links__cart-icon {
  @media (min-width: 1024px) {
    display: none;
  }
}

.user-links__cart-text {
  @media (max-width: 1023px) {
    display: none;
  }
}
